/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   
   
@font-face {
 font-family: 'VT323';
 font-style: normal;
 font-weight: normal;
 src: url('VT323-Regular.ttf') format('truetype');
}

* {
  cursor: url('/cursoron.png') 60 0, auto !important;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content {
  padding: 0px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active {
  color: white;
  transition: color 0.5s ease-in-out;
}

.collapse {
  padding: 0px;
  transition: color 0.5s ease-in-out;
  background-color: black;
}

@layer init, bg, obj ;

@layer init {

  body {
    min-height: 100vh; /* Full height of the viewport */
    height: 100vh;
    background-color: black;
    color: #707070;
    background-image: url(black2.png), url("pipes.gif");
    font-family: 'VT323', sans-serif;
    overflow: hidden;
  }
}

.txt1 {
  opacity:0;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.txt2 {
  opacity:0;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-fill-mode: forwards;
}

.arrow {
  opacity:0;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.mask1 {
  -webkit-mask-image: url(mask1.png);
  mask-image: url(mask1.png);
  mask-repeat: no-repeat;

}
   #follow {
  position: absolute;
  text-align: center;
}
   #follow2 {
  position: absolute;
  text-align: center;
}
   #lantern {
  position: absolute;
  text-align: center;
}

.snowflake{
  z-index: 2;
  color: #ffffff;
}

/* code for dust particles taken from an old friend (with permission!) */

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/*
Source - https://stackoverflow.com/a/31951412
Posted by Thomas Bormans, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-06, License - CC BY-SA 4.0
*/

/* since the marquee tag is deprecated, i added an alternative from stackoverflow */

.marquee {
  width: 100%;
  height: 31px;
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 31px;
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

hr {
  color: #909090;
  width: 50ch;
  text-align: left;
  margin-left: 0;
}

@layer obj {
  grid {
    min-height: 100vh;
    display: grid;
    overflow-x: visible;
    background-color: transparent;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 240px 300px 300px 130px;
  }

  header {
    text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000, -2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000;
  }

a { 
  color: #707070; 
  transition: color 0.3s ease-in-out;
}
a:hover { 
  color: white;
  transition: color 0.3s ease-in-out;
}
  
  section {
    background-color: black;
    background-image: url(box.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #909090;
    width:250px;
    z-index: 3;
    position: relative;
    height: 250px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 5px solid #707070;
    border-radius: 5px;
    padding: 25px;
    justify-content: center; 
  }

  header1 {
     padding: 0px; /* Padding for the footer */
     background-color: black;
     grid-row: 1;
     grid-column: 1 / span 5;
     width: 100%;
     color: #707070;
     text-align: right;
     border-radius:5px;
     border-bottom: 5px solid #707070; /* Required for border-image */
  }
  header2 {
    padding: 0px; /* Padding for the footer */
    background-color: transparent;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    color: #707070;
    border-radius:5px;
    grid-row: 1;
    grid-column: 1 / span 5;
    width: 100%;
    text-align: right;
    border-bottom: 5px solid transparent; /* Required for border-image */
    border-image: url(fborder.png) 5 stretch;
  }

  footer {
     padding: 0px; /* Padding for the footer */
     background-color: transparent;
     background-image: url(footer.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-clip: border-box;
     color: #707070;
     border-radius:5px;
     grid-row: 5;
     grid-column: 1 / span 5;
     width: 100%;
     text-align: right;
     border-top: 5px solid transparent; /* Required for border-image */
     border-image: url(fborder.png) 5 stretch;
  }

  footer1 {
     padding: 0px; /* Padding for the footer */
     background-color: black;
     color: #707070;
     border-radius:5px;
     grid-row: 5;
     grid-column: 1 / span 5;
     width: 100%;
     text-align: right;
     border-top: 5px solid #707070; /* Required for border-image */
  }

  lefter {
     padding: 0px; /* Padding for the footer */
     background-color: black;
     color: #707070;
     border-radius:5px;
     height:100%;
     width: 50px;
     justify-self: right;
     text-align: right;
     border-right: 5px solid #707070; /* Required for border-image */
  }
  righter {
     padding: 0px; /* Padding for the footer */
     background-color: black;
     color: #707070;
     border-radius:5px;
     height:100%;
     width: 50px;
     justify-self: left;
     text-align: right;
     border-left: 5px solid #707070; /* Required for border-image */
  }
}

container {
  background-color:black;
  position:relative;
  border: 20px solid transparent;
  border-image: url(border.png) 20 stretch;
  border-radius:5px;
}

mobile {
    background-color: black;
    color: #707070;
    width:80%;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-y:scroll;
    overflow-x:hidden;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 90%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 5px solid #707070;
    border-radius: 5px;
    padding: 25px;
    justify-self: center;
    align-self: center;
    justify-content: center; 
}